main {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.form-card {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-card .form-floating:focus-within {
  z-index: 2;
}

.form-card input:not([class*="last-input"]):not([class*="single-input"]) {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-card input[class*="last-input"]:not([class*="single-input"]) {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-card input[class*="single-input"] {
  margin-bottom: 10px;
}
